body {
    margin: auto;
}
body#brand {

}
body#message {
    background: url('../images/message/background.jpg') fixed no-repeat;
    background-position: center 90px;
}
div.wrap {
    position: relative;
    width: 962px;
    margin: 0 auto;
}
body#brand div#background {
    position: fixed;
    top: 90px;
    height: 703px;
    width: 100%;

    z-index: -1000;
}
header {
    position: fixed;
    top: 0;
    height: 83px;
    width: 962px;
    margin: 0 auto;
    background: url('../images/head.png');
    z-index: 10;
}
article {
    position: relative;
    top: 95px;
    z-index: 0;
}